<h3>商品一覧</h3>

  <%= link_to new_admin_item_path do %>
    <span class="glyphicon" aria-hidden="true"></span>
    商品新規登録
  <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><P>商品ID</P></th>
      <th><P>商品名</P></th>
      <th><p>税抜価格</p></th>
    </tr>
  </thead>

  <tbody>

    <% @items.each do |item| %>
      <tr class="new-table">
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= link_to item.name, admin_item_path(item.id) %>
        </td>
        <td>
          <%= item.price %>
        </td>

      </tr>
    <% end %>
  </tbody>
</div>